.l-content {
    padding: 2em 1em;
}

.l-page {
    display: block;
    width: 21cm;
    min-height: 29.7cm;
    padding: 15mm 18mm;
    border: 1px solid #D8D8D8;
    border-radius: 3px;
    margin: 0 auto;

    background: white url(http://basehold.it/i/20/888888);
    background-position: 18mm 15mm;
}