html {
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    line-height: 20px;
}

h1 {
    padding: 7px 0 0;
    margin: 0 0 10px;

    font-family: 'Amaranth', sans-serif;
    font-size: 30px;
    font-weight: normal;
    line-height: 40px;
    color: #3B617D;
    text-transform: uppercase;
    text-align: center;
    
    counter-reset: title;
}

.subh1 {
    display: block;
    padding-bottom: 20px;
    text-align: center;
}

h2 {
    padding: 0;
    margin: 40px 0 20px;

    font-family: 'Amaranth', sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 1;
    
    counter-increment: title;
}

h2::before {
    content: counter(title)".";
    margin-right: 0.5em;
}

code {
    display: inline-block;
    font-family: monospace, monospace;
    font-size: inherit;
    line-height: 21px;
    height: 20px;
    color: #3B617D;
}

ul,
ol,
dl {
    margin: 0;
    padding: 0 0 0 80px;
    list-style: none;
    counter-reset: list;
}

dl {
    padding-left: 0;
}


@media (max-width: 21cm) {
    ul,
    ol {
        padding-left: 40px;
    }
}

ol > li {
    position: relative;
    counter-increment: list;
}

ol > li::before {
    content: counter(list)".";
    position: absolute;
    right: 100%;
    margin-right: 0.5em;
}

p {
    margin-top: 20px;
}