@page {
    margin: 18mm 15mm;
    counter-reset: page 1;
}

.l-header,
.bill-setting,
.c-toggle,
.cf-disabled,
.cf-hidden {
    display: none;
}

a[href]{
    color: inherit;
    text-decoration: none;
}

a[href]::after {
    content: " (https://tzi.github.io/licenceMCD/" attr(href) ") ";
}

a[href^="http"]::after {
    content: " (" attr(href) ") ";
}